.header {
    padding-top: 32px;
    padding-bottom: 30px;
    background-color: #363533;
    border-color: #363533;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #d3ccbe;
    text-decoration: none;
    margin-left: 40%;
}

.header-cook-book {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #d3ccbe;
    text-decoration: none;
    margin-left: 200px;
}

.header-create {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #d3ccbe;
    text-decoration: none;
    margin-left: 150px;
}

.header-account {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #d3ccbe;
    text-decoration: none;
    margin-left: 160px;
}

.header-sign-in {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #d3ccbe;
    text-decoration: none;
    margin-left: 45px;
}
